*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
header{
    max-width: 1550px;
    height: 20px;
    display: flex;
    background-color: black;
}
.menu {
    color: rgb(206, 203, 203);
    margin-left: 140px;
    display: flex;
    gap: 30px;
}
.menu2{
    gap: 20px;
    display: flex;
    margin-left: 852px;
}
.photo{
    height: 17px;
}
.container{
    max-width: 1340px;
    padding: 0 20px;
    margin: 0 auto;
}
.search-poisk {
    width: 840px;
    height: 50px;
}
.logo {
    margin-right: 40px;
    margin-bottom: 40px;
}

.search {
    margin-left: 100px;
    margin-top: 20px;
}
.main-img {
    margin-left: 120px;
    max-width: 1440px;
    height: 600px;
    background-image: url(slider.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.btn {
    margin-top: 20px;
    box-shadow: 0px 5px 11px 2px rgba(0, 0, 0, 0.09);
    width: 163px;
    border: 0;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    height: 45px;
    background-color: #fff;
}

.title {
    font-size: 50px;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
}

.text {
    padding-top: 16px;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    color: black;
}
.box{
    margin-top: 9px;
    display: flex;
    margin-left: 50px;
    width: 120px;
    height: 25px;
    gap: 9px;
}
.all-top{
    margin-left: 80px;
    display: flex;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.07);
    background: rgb(255, 255, 255);
    width: 1240px;
    height: 60px;
}
.photos {
    width: 23px;
    height: 23px;
}
.navbar-menu {
    display: flex;
}
.logo {
    margin-top: 40px;
}

.user {
    margin-top: 7px;
    height: 22px;
    margin-left: 80px;
}
.search{
    display: flex;
}
.lup-icon{
    margin-top: 7px;
    height: 22px;
}
a{
    color: inherit;
    text-decoration: none;
}
ul li{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    list-style: none;
    padding-top: 4px;
    color: rgb(65, 65, 65);
}
.advert {
    padding-top: 100px;
    margin-left: 120px;
    max-width: 281px;
}
.image{
    width: 1.27px;
    height: 14px;
}
.box:hover{
    box-shadow: 3px 3px 8px 3px rgb(6, 6, 6);
    transition: 1s;
}